.modal-content .form-section em { color: #E2231A; font-weight: bold; font-size: 15px; }
.modal-header { background: #E2231A; }
.modal-header p { text-align: center; color: #fff; font-weight: bold; font-size: 16px;}
.modal-header button { color: #fff; opacity: 1}
ul{ list-style: none;}
ul li:before {content: "\00BB \0020"; }
