<div class="dashboard-body">
  <div  class="col-sm-1 side-menu">
    <sidemenu></sidemenu>
  </div>
  <div class="col-sm-11 list">
    <div class="header row">
      <div class="col-sm-4">
        <p>Admin</p>
      </div>
      <div class="col-sm-7 right-icon">
      </div>
    </div>
    <div class="row ticket-head">
      <div class="col-sm-12">
        <div class="pull-right">
          <p class="synch">
            <button class="btn btn-info btn-bold" (click)="createNewLink()"> Create New Link </button>
          </p>
        </div>
      </div>
    </div>
    <div class="row ticket-table">
      <table class="table ticket-table" [mfData]="repots" #mf="mfDataTable" [mfRowsOnPage]="5" [mfSaveRowsOnPage]="true" >
          <thead>
            <tr> 
              <th> <mfDefaultSorter by="sno" [mfShowSortableArrows]="true">S.no</mfDefaultSorter></th>
              <th > <mfDefaultSorter by="reportName">KB Name</mfDefaultSorter></th>
              <th> <mfDefaultSorter by="link">KB Link</mfDefaultSorter> </th>
              <th > <mfDefaultSorter by="action">View Keywords</mfDefaultSorter></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of mf.data; let i = index"> 
                <td>{{repots.indexOf(item) + 1}}</td>
                <td>{{item.kb_name}}</td>
                <td>{{item.kb_link}}</td>
                <td>
                  <img src="assets/icons/view.png" alt="" class="link-pointer" (click)="viewKeywords(item)">
                  <img src="assets/icons/delete.png" alt="" class="delete-icon link-pointer" (click)="deleteKB(item)">
                </td>
            </tr>
            <tr  *ngIf="repots.length == 0">
              <td colspan="100%" align="center"> {{responseMessage}}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="11"><mfBootstrapPaginator [rowsOnPageSet]="[7,10]"></mfBootstrapPaginator></td>
            </tr>
          </tfoot>
        </table>
    </div>
  </div>
</div>
