.dashboard-body {
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #fff;
	min-height: 662px
}
.dashboard-body .side-menu {
	min-height: 662px;
	background: #2c2f43;
	color: #fff;
}
.synch { margin: 10px 20px 0px; }

.dashboard-body .list .header {
	background: #fff
}
.header.row {
	height: 75px;
	background: #fff;
}
.list .header p {
	font-size: 18px;
	margin-top: 23px;
	font-weight: 600;
	padding-left: 10px;
	color: #565855;
}
.list .header img {
	width: 23px;
	margin-top: 25px;
}
.list .header .search input {
	width: 100%;
	height: 35px;
	margin: 20px 0px;
	border-radius: 3px;
	border: 2px solid lightgray;
	padding-left: 5px;
}
.list .header .search select {
	float: right;
	margin-top: 20px;
	padding: 2px;
	border: 2px solid lightgray;
	border-radius: 3px;
	height: 35px;
	width: 100px;
}
.list .header .searchVal select {
	width: 100%;
	margin: 20px 0px;
}
.dashboard-body .list {
	height: 662px;
	background: #eceef2
}
.dashboard-body .list table {
	margin: 30px;
	margin-top: 40px;
	width: 95%;
	border-spacing: 5em;
}
.dashboard-body .list table thead {
	background: #f8f9fa;
}
.dashboard-body .list table thead th {
	color: #879cae;
	font-weight: normal;
}
.dashboard-body .list table tbody {
	background: #fff;
}
.dashboard-body .list table tbody tr {
	border-left: 2px solid #879cae;
}
.dashboard-body .list table td {
	border-bottom: 5px solid #eceef2;
	font-size: 12px;
	font-weight: bold;
	color: #64707b
}
.dashboard-body .list table .view {
	color: #56b631
}
.ticket-table {
    margin-top: 10px !important; 
    margin-bottom: 0px !important;
}
.dashboard-body .list table .created-from {
	color: #b65c31
}
.right-icon .icon {float:right;}
.right-icon .icon img {float:right;}
.dashboard-body .col-sm-3.side-menu {width:270px;}
/* .dashboard-body .col-sm-1.side-menu {width:68px;} */
.dashboard-body .col-sm-1.side-menu {width:5.07%;}
.dashboard-body .col-sm-9.list { width: 79.9%; }
.dashboard-body .col-sm-11.list { width: 94.93%; }
.edit-btn { padding: 1px 12px; }
.table>tfoot>tr>td { padding: 2px;}

/* Header */

.dashboard-body #voc-header .voc-left-header {
	background: #232638;
	font-size: 16px;
	font-weight: 600;
	line-height: 50px;
	position: absolute;
	float: left;
	text-align: center;
	width: 270px;
	z-index: 999;
}
.dashboard-body #voc-header .voc-left-header p {
	font-size: 18px;
	text-align: left;
	color: #fff;
	padding-left: 15px;
	font-weight: 600;
	margin-bottom: 0px;
}
.dashboard-body #voc-header .voc-right-header {
	background: #fff none repeat scroll 0 0;
	height: 50px;
	line-height: 50px;
	z-index: 101;
	margin-left: 270px;
	position: relative;
}
.dashboard-body #voc-header .voc-right-header .voc-sidebar-toggle a::after {
	background: transparent;
	border: 0px solid #efefef;
	content: "\f0c9";
	font-family: FontAwesome;
	font-size: 22px;
	line-height: 50px;
	padding: 0px 17px;  /* position: absolute; */
	color: #7e7e7e;
	z-index: 1000;
}
.dashboard-body #voc-header .voc-right-header .page-title {
	display: inline-block;
}
.dashboard-body #voc-header .voc-right-header .page-title h3 {
	font-size: 18px;
	margin: 0px;
	font-weight: 600;
	padding-left: 10px;
	color: #565855;
}
/* Header */

.table>tbody>tr>td{
	padding: 5px;
	line-height: 2;
}

.delete-icon{
	width: 20px;
    margin-left: 10px;
}

